body {
    background: white;
}
.container-fluid {
    background: blueviolet;
    text-align: center;
}

/* -- ヘッダー -- */
.row {
    background: blue;
    width: 100%;
    position: fixed;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

/* -- コンテンツ -- */
.row {
    background: chartreuse;
    width: 80%;
    text-align: center;
    padding: 150px 0px 60px 0px;
}
/* -- タイトル -- */
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 240%;
    font-weight: 900;
    letter-spacing: 0.1em;
}
.p1 {
    font-weight: 900;
    letter-spacing: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}